

body{
    font-family: 'Noto Serif KR', serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10%;

}

.week_section{
    font-size:50px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10%;
}

.weather_section{
    font-size:50px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10%;
}

.text{
    font-size:40px;
    font-weight: 900;
    text-align: center;
}